@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* START VARIABLES  */
:root {

    /* ### Primary */
    /* page background  */
    --Pale-blue: hsl(225, 100%, 94%);
    /* button color */
    --Bright-blue: hsl(245, 75%, 52%);

    /* ### Neutral */
    /* layout background-color*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    /* p color  */
    --Desaturated-blue: hsl(224, 23%, 55%);
    /* heading color */
    --Dark-blue: hsl(223, 47%, 23%);
    /* main font */
    --main-font: 'Red Hat Display', sans-serif;
}

/* END VARIABLES  */

/*  start reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    max-inline-size: 100%;
    block-size: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

/* end reset */

body {
    height: 100vh;
    background-color: var(--Pale-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

picture {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}

picture img {
    width: 100%;
    height: 100%;

}

/* start layout */
main {
    margin: 1.25rem;
}

.container {
    background-color: white;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    max-width: 25.125rem;
}

.container .content {
    padding: 1.5rem 2rem;
}

.container .content>* {
    margin-bottom: 1rem;
}

.container .content h1 {
    margin-top: 0;
    text-align: center;
    font-family: var(--main-font);
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 1.5rem;
}

.container .content p {
    text-align: center;
    font-size: 1rem;
    color: var(--Desaturated-blue);
    font-family: var(--main-font);
    line-height: 1.6;
}

.container .content .music-bar {
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--Very-pale-blue);
}

.container .content .music-bar div>* {
    display: block;
}

.music-bar div {
    flex-grow: 1;
    font-family: var(--main-font);
    font-weight: 900;
    color: var(--Dark-blue);
}

.music-bar div span {
    margin-top: .4rem;
    font-weight: 400;
    font-size: 1rem;
    color: #7280A7;
    font-family: Arial, Helvetica, sans-serif;
}

.music-bar a {
    color: var(--Bright-blue);
    text-decoration: underline;
    font-family: var(--main-font);
    font-weight: 700;
    cursor: pointer;
}

.music-bar a:hover {
    text-decoration: none;
    color: #766cea;
}

.content .buy {
    display: block;
    background-color: var(--Bright-blue);
    width: 100%;
    padding: 1rem;
    color: var(--Pale-blue);
    font-size: 1rem;
    font-family: var(--main-font);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 2px 11px 20px;
    cursor: pointer;
}

.content .buy:hover {
    background-color: #766cea;
}

.content .cancel {
    width: 100%;
    padding: .5rem;
    font-family: var(--main-font);
    font-size: .9rem;
    color: var(--Desaturated-blue);
    font-weight: 900;
    background-color: transparent;
    margin-bottom: 0;
    cursor: pointer;
}

/* end layout */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
